.registerPageContent {
  margin: 0rem;
  height: 100vh;
  width: 100vw;
  opacity: 0.7;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("https://www.redac.ro/wp-content/uploads/2020/04/Service-auto-Craiova.jpeg");
}

.registerPageContent .formContentRegister {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  left: 53%;
  top: 50%;
  transform: translate(-50%, -50%);
}
